<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="https://thingproxy.freeboard.io/fetch/https://www.tabnews.com.br/api/v1/">

		<title>Tabnews Frontend With HTMX</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

		<script src="https://unpkg.com/htmx.org@1.9.11"></script>
		<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/client-side-templates.js"></script>
		<script src="https://unpkg.com/mustache@latest"></script>

		<script>
			const CARDS_PER_PAGE = 2;
			const CARDS_STRATEGY = "relevant";
		</script>
	</head>
	<body hx-ext="client-side-templates" class="p-5">

		<div id="spinner" class="htmx-indicator spinner-border fixed-bottom ms-auto m-3" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>

		<main
			hx-get="contents?"
			hx-vals="js:{page: 1, per_page: CARDS_PER_PAGE, strategy: CARDS_STRATEGY}"
			hx-swap="innerHTML"
			hx-target="this"
			hx-trigger="load"
			hx-indicator="#spinner"
			mustache-array-template="mtt-card"
			id="app"
		></main>

		<template id="mtt-card">
			<section data-js-cards>
				{{#data}}
					<div>
						<div class="shadow d-inline-block rounded-3 border px-3 py-2 mt-4">
							<ul style="list-style: none" class="d-flex gap-4 p-0 mt-1 mb-2 text-secondary align-items-center">
								<li>
									<a
										href="https://www.tabnews.com.br/{{owner_username}}"
										target="_blank"
										class="fs-6 lh-1 text-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2"
										>{{owner_username}}</a>
								</li>
								<li class="text-nowrap">
									<i class="bi bi-chat-dots"></i> {{children_deep_count}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-arrow-up"></i> {{tabcoins_credit}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-arrow-down"></i> {{tabcoins_debit}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-coin"></i> {{tabcoins}}
								</li>
								<li class="fst-italic opacity-25 ms-auto">
									{{published_at}}
								</li>
							</ul>

							{{#title}}
								<button
									class="fs-5 lh-0 text-dark p-0 m-0 btn btn-link link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover"
									onclick="document.getElementById('article-{{owner_id}}-{{id}}').classList.toggle('d-none')"
								>{{title}}</button>
							{{/title}}

							<ul style="list-style: none" class="d-flex gap-4 p-0 m-0 mt-1 text-secondary align-items-center">
								<li class="text-nowrap">
									<a
										hx-get="contents/{{owner_username}}/{{slug}}?"
										hx-target="next .article"
										hx-indicator="#spinner"
										mustache-array-template="mtt-article"
										href="https://www.tabnews.com.br/{{owner_username}}/{{slug}}"
										class="fs-6 lh-1 text-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2"
									>Post original</a>
								</li>
								<li class="text-nowrap">
									<a
										hx-get="contents/{{owner_username}}/{{slug}}/children?"
										hx-target="next .comments"
										hx-indicator="#spinner"
										mustache-array-template="mtt-comments"
										href="#"
										class="fs-6 lh-1 text-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2"
									>Mostrar comentários</a>
								</li>
								<li class="text-nowrap">
									<a
										href="#"
										class="fs-6 lh-1 text-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2"
										onclick="document.getElementById('comments-{{owner_id}}-{{id}}').innerHTML = ''"
									>Esconder comentários</a>
								</li>
							</ul>

							<div
								hx-get="contents/{{owner_username}}/{{slug}}?"
								hx-target="this"
								hx-indicator="#spinner"
								hx-trigger="load"
								mustache-array-template="mtt-article"
								id="article-{{owner_id}}-{{id}}"
								class="article {{#title}}d-none{{/title}}"
							></div>

						</div>
					</div>

					<div id="comments-{{owner_id}}-{{id}}" class="comments"></div>
				{{/data}}
			</section>

			<br>
			<hr class="mt-5 mb-5">

			<a
				hx-get="contents?"
				hx-vals="js:{page: document.querySelectorAll('section[data-js-cards]').length + 1, per_page: CARDS_PER_PAGE, strategy: CARDS_STRATEGY}"
				hx-swap="outerHTML"
				hx-target="this"
				mustache-array-template="mtt-card"
				href="#"
				class="link-underline-secondary text-secondary link-offset-2"
			>
				<i class="bi bi-arrow-clockwise me-2"></i>Carregar mais
			</a>
		</template>

		<template id="mtt-article">
			{{#data}}
				<pre
					style="white-space: pre-wrap; max-width: 90ch;"
					class="mb-3 mt-2 mx-3"
				>{{body}}</pre>
			{{/data}}
		</template>

		<template id="mtt-comments">
			<section class="border-start border-4 ms-5 ps-4">
				{{#data}}
					<div>
						<div class="shadow mt-3 d-inline-block rounded-3 border p-2">
							<ul style="list-style: none" class="d-flex gap-4 p-0 mt-1 mb-2 text-secondary align-items-center">
								<li>
									<a
										href="https://www.tabnews.com.br/{{owner_username}}"
										target="_blank"
										class="fs-6 lh-1 text-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2"
										>{{owner_username}}</a>
								</li>
								<li class="text-nowrap">
									<i class="bi bi-chat-dots"></i> {{children_deep_count}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-arrow-up"></i> {{tabcoins_credit}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-arrow-down"></i> {{tabcoins_debit}}
								</li>
								<li class="text-nowrap">
									<i class="bi bi-coin"></i> {{tabcoins}}
								</li>
								<li class="fst-italic opacity-25 ms-4">
									{{published_at}}
								</li>
							</ul>
							<pre
								style="white-space: pre-wrap; max-width: 90ch;"
								class="px-3"
							>{{body}}</pre>
						</div>
					</div>
					<div
						hx-get="contents/{{owner_username}}/{{slug}}/children?"
						hx-target="this"
						hx-trigger="load"
						hx-indicator="#spinner"
						hx-swap="outerHTML"
						mustache-array-template="mtt-comments"
					></div>
				{{/data}}
			</section>
		</template>

	</body>
</html>
